<h1>My Tasks</h1><br>
<% @tasks.each do |task| %>
  <%= task.completed == false ? 'ðŸŸ¦' : 'â˜‘ï¸' %>
  <span><%= link_to task.title, task_path(task) %></span>
  <span><%= link_to 'ðŸ—‘ï¸', task_path(task.id), method: :delete, data: {confirm: 'Are you sure?'} %><br>
<% end %>
<br>
<div class="footer">
  <%= link_to 'âœš Add a new taks', tasks_new_path %> 
</div>