<h1><%=@task.title%></h1>
<p class="alert alert-primary"><%=@task.details%></p>
<p><%= @task.completed == false ? 'ðŸŸ¦ This task is not completed yet' : 'â˜‘ï¸ This task is completed'%></p>


<%= link_to 'â†¶ Back to list', tasks_path, class: 'tasks' %>